:root {
    --primary-color: #219ebc;
    --primary-deep-color: #023047;
    --primary-light-color: #8ecae6;
    --secondary-color: #ffd500;
    --secondary-deep-color: #ffb703;
    --secondary-light-color: #f1d691;
    --white: #ffffff;
    --black: #000000;
    --gray-50-color: #e5e5e5;
    --gray-100-color: #dedede;
    --gray-200-color: #e5e5e5;
    --gray-300-color: #cfcfcf;
    --gray-400-color: #b2b2b2;
    --gray-500-color: #a3a3a3;
    --gray-600-color: #898989;
    --gray-700-color: #6f6f6f;
    --gray-800-color: #555555;
    --gray-900-color: #3b3b3b;
  }
  * {
    font-family: 'Noto Sans TC', serif;
    font-size: 16px;
  }
  /* 去除 bs 的 focus ring */
  *:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .bread {
    margin-bottom: 30px;
  }
  
  .main-details {
    margin: 0 0 20px 0;
    .main-image {
      width: 100%;
      height: 100%;
    }
    .small-images {
      padding: 30px 0px;
      img {
        width: 25%;
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    .rent-rules {
      gap: 14px;
      .rules-title {
        margin: 0;
        font-size: 14px;
        font-weight: 700;
      }
      .rules-content {
        color: var(--gray-600-color);
        font-size: 14px;
        font-weight: 400;
        list-style-type: decimal;
        list-style-position: inside;
        padding: 0px 0px 0px 30px;
        border-left: 3px solid var(--gray-200-color);
        li {
          text-indent: -1em;
          padding-left: 1.5em;
        }
      }
    }
    .details-text {
      gap: 5px;
    }
    .details-titles {
      gap: 10px;
      .product-brand {
        margin: 0;
        color: var(--gray-600-color);
        font-size: 24px;
        font-weight: 700;
      }
      .product-name {
        margin: 0;
        font-size: 26px;
        font-weight: 700;
      }
      .stars {
        color: var(--secondary-color);
        gap: 5px;
      }
    }
    .subdetails-titles {
      gap: 5px;
      .product-price-perday {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
      }
      .product-description {
        margin: 0;
        color: var(--gray-600-color);
        font-weight: 400;
      }
    }
    .details-select {
      gap: 20px;
      .product-stock {
        margin: 0;
        font-style: 17px;
        font-weight: 700;
      }
      .product-color {
        .color-title {
          margin: 0;
          color: var(--gray-600-color);
          font-weight: 700;
        }
        .colors {
          gap: 8px;
          .color-box {
            width: 38px;
            height: 38px;
            border-radius: 100px;
          }
        }
      }
    }
    .product-amount {
      .amount-title {
        margin: 0;
        color: var(--gray-600-color);
        font-weight: 700;
      }
      .amounts {
        width: 45px;
        padding: 14px 9px;
        .quantity-btn {
          font-size: 12px;
          color: var(--gray-600-color);
          background-color: var(--white);
          border: 0.5px solid var(--gray-100-color);
          padding: 9px 14px;
        }
        .minus {
          border-radius: 30px 0px 0px 30px;
          background-color: var(--white);
        }
        .plus {
          border-radius: 0px 30px 30px 0px;
        }
        .quantity-input {
          max-width: 40px;
          font-size: 12px;
          font-weight: 400;
          border: 0.5px solid var(--gray-100-color);
          padding: 13px 14px;
        }
      }
    }
    .booking-date {
      .booking-title {
        margin: 0;
        color: var(--gray-600-color);
        font-weight: 700;
      }
    }
  
    .product-btns {
      gap: 10px;
      padding: 10px 5px 10px 0px;
      margin-top: 20px;
      .mybtn {
        border-radius: 50px;
        padding: 10px 0;
        border: none;
      }
  
      .btn-cart {
        background-color: var(--secondary-color);
      }
  
      .btn-buy {
        background-color: var(--primary-color);
        color: var(--white);
      }
    }
  }
  .under-details {
    gap: 20px;
    margin: 20px 0;
    padding: 15px;
    border: 1px solid var(--gray-300-color);
  }
  .under-detail {
    text-align: center;
    .under-details-title {
      margin: 0;
      display: inline-block;
      color: var(--black);
      font-size: 14px;
      font-weight: 700;
      padding: 9px 12px;
      text-align: center;
      background-color: var(--gray-50-color);
    }
    .under-details-content {
      margin: 0;
      color: var(--black);
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      padding: 15px;
    }
  }
  .under-brand {
    gap: 14px;
    padding: 15px;
    .product-brand {
      margin: 0;
      color: var(--black);
      font-size: 14px;
      font-weight: 700;
    }
    .under-details-brand {
      margin: 0;
      color: var(--gray-600-color);
      font-size: 14px;
      font-weight: 400;
      padding-left: 30px;
      border-left: 3px solid var(--gray-200-color);
    }
  }
  .you-may-likes {
    margin: 20px 0 30px 0;
  }
  .you-may-like {
    .you-may-like-title {
      margin: 0;
      color: var(--primary-color);
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      padding-bottom: 15px;
    }
  }
  .you-may-like-products {
    .you-may-like-product {
      .card {
        padding: 0px 15px 30px 15px;
        .card-body {
          .product-brand,
          .product-name,
          .product-price,
          .product-price2 {
            margin: 0 0 5px 0;
          }
          .product-brand {
            color: var(--gray-600-color);
            font-size: 13px;
            font-weight: 400;
          }
          .product-name {
            font-size: 14px;
          }
          .product-price,
          .product-price2 {
            display: inline-block;
          }
          .product-color {
            gap: 6px;
            .color-box {
              width: 15px;
              height: 15px;
              border: 0.5px solid var(--gray-200-color);
              border-radius: 50%;
              filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
            }
          }
        }
      }
    }
  }
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  .center-container .goBackBtn {
    background-color: var(--primary-light-color);
    border: var(--gray-700-color);
    border-radius: 15px;
  }
  .center-container .goBackBtn:hover,
  .center-container .goBackBtn:active {
    background-color: var(--secondary-color);
    border: var(--gray-700-color);
    border-radius: 15px;
  }
  
  .you-may-likes nav .pagination .page-item .page-link {
    border: none;
    color: var(--black);
  }
  